/* Enter your custom styles here */
:root {
    --tile-error: #CF3721;
    --tile-critical: #F5BE41;
    --tile-good: #258039;

}

html.sap-desktop .sapMGT:hover:not(.sapMGTPressActive):not(.sapMGTBackgroundImage) {
    background: grey;
}

/* background-color: var(--main-bg-color); */
.sapMNCValue.Neutral {
    color: #fff
}

.sapMGTHdrTxt>.sapMText {
    color: #fff
}

.sapMSampleTileContainer {
    width: 80%;
    margin: auto;
    background-color: orange;
}

/* .sapMNCLargeFontSize {
    font-size: 2rem !important;
} */
.white {
    color: #fff
}

.goodTileBackground {
    color: #fff;
    background-color: var(--tile-good)
}



.criticalTileBackground {
    color: #fff;
    background-color: var(--tile-critical)
}

.errorTileBackground {
    color: #fff;
    background-color: var(--tile-error)
}